
body {
    background-color: #086b69;
    font-family: sans-serif;
    background-image: url("../image/bg1.jpg");
    background-size: cover;
}
/*
.bg-image {
    background-image: url("../image/bg4.jpg");
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
*/
#page {
    background-color: white;
    width: 900px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px black;
/*    border: 1px solid #086b69;*/
}


#left {
    background-color: white;
    width: 360px;
    height: 700px;
    float: left;
    padding: 20px;
    text-align: right;
}

.web-developer {
    margin: 10px 40px 0 0;
}

.img {
    float: right;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom: 30px;
}

h1,
h2,
h3 {
    color: #086b69;
    font-weight: bold;
}

.name {
    margin-right: 40px;
    margin-bottom: -8px;
    font-size: 26px;
}

.line1 {
    border-top: 2px solid #086b69;
    margin-bottom: 0;
    width: 300px;
    margin-left: 20px;
    margin-top: 0px;
}

.line2 {
    border-top: 6px solid #086b69;
    margin: 3px;
    width: 300px;
    margin-left: 20px;
}

.about {
    color: #086b69;
    margin-right: 40px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 15px;
}

.mail {
    margin-top: 10px;
    margin-right: 40px;
    font-size: 15px;
}
/*************Right Part*************/


#right {
    background-color: #e8e8e9;
    width: 500px;
    height: 800px;
    float: right;
}
.edu {
    margin-top: 30px;
    margin-left: 35px;
}
.section {
/*    border: 2px solid blue;*/
overflow: auto;
        clear: left;
    margin-bottom: -14px;
}

.block-title {
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 0;
}

.sec-left {
    color: #086b69;
    margin-left: 35px;
    float: left;
/*    display: block;*/
}
.sec-right1 {font-size: 13px;
    float: right;
    margin-right: 76px;
/*    margin-right: 80px;*/
}
.sec-right2 {font-size: 13px;
    float: right;
    margin-right: 50px;
    margin-right: 130px;
}
.sec-right3 {font-size: 13px;
    float: right;
    margin-right: 50px;
    margin-right: 150px;
}
.sec-right4 {font-size: 13px;
    float: right;
    margin-right: 50px;
    margin-right: 170px;
}

.y5 {
    color: #086b69;

}

.gd1 {
    font-size: 13px;
}

.gd2 {
    font-size: 13px;
}

.jr {
    font-size: 13px;
}


.square1 {
    height: 50px;
    width: 25px;
    background-color: #555;
    margin-top: 20px;
    float: left;
}

.square2 {
  height: 50px;
    width: 25px;
    background-color: #555;
    margin-top: 10px;
    float: left;
}

.square3 {
 height: 50px;
    width: 25px;
    background-color: #555;
    margin-top: 8px;
    float: left;
}

.photoshop {
    color: #086b69;
    font-size: 85%;
}

.html {
    color: #086b69;
    font-size: 85%;
    overflow: auto;
}
.css {
    color: #086b69;
    font-size: 85%;
}
.square4 {
    height: 19px;
    width: 100px;
    background-color: #555;
    float: right;
    display: inline;
    margin-right: 235px;
    margin-top: 12px;
}

.square5 {
    height: 19px;
    width: 30px;
    background-color: #086b69;
    float: right;
    display: inline;
    margin-right: 220px;
    margin-top: -19px;
}
.square6 {
    height: 19px;
    width: 100px;
    background-color: #555;
    float: right;
    display: inline;
    margin-right: 235px;
    margin-top: 12px;
}

.square7 {
    height: 19px;
    width: 15px;
    background-color: #086b69;
    float: right;
    display: inline;
    margin-right: 220px;
    margin-top: -19px;
}
.square8 {
    height: 19px;
    width: 100px;
    background-color: #555;
    float: right;
    display: inline;
    margin-right: 235px;
    margin-top: 12px;
}

.square9 {
    height: 19px;
    width: 15px;
    background-color: #086b69;
    float: right;
    display: inline;
    margin-right: 220px;
    margin-top: -19px;
}

.square10 {
height: 50px;
    width: 25px;
    background-color: #555;
    margin-top: 8px;
    float: left;
}



.e {
    color: #086b69;
    font-size: 85%;
}

.square11 {
    height: 19px;
    width: 100px;
    background-color: #555;
    float: right;
    display: inline;
    margin-right: 280px;
    margin-top: 12px;
}

.square12 {
    height: 19px;
    width: 10px;
    background-color: #086b69;
    float: right;
    display: inline;
    margin-right: 270px;
    margin-top: -19px;
}

.s {
    color: #086b69;
    font-size: 85%;
}
.square13 {
    height: 19px;
    width: 100px;
    background-color: #555;
    float: right;
    display: inline;
    margin-right: 280px;
    margin-top: 12px;
}

.square14 {
    height: 19px;
    width: 20px;
    background-color: #086b69;
    float: right;
    display: inline;
    margin-right: 270px;
    margin-top: -19px;
}

.f {
    color: #086b69;
    font-size: 85%;
}
.square15 {
    height: 19px;
    width: 100px;
    background-color: #555;
    float: right;
    display: inline;
    margin-right: 280px;
    margin-top: 12px;
}

.square16 {
    height: 19px;
    width: 30px;
    background-color: #086b69;
    float: right;
    display: inline;
    margin-right: 270px;
    margin-top: -19px;
}

.r {
    color: #086b69;
    font-size: 85%;
}
.square17 {
    height: 19px;
    width: 100px;
    background-color: #555;
    float: right;
    display: inline;
    margin-right: 280px;
    margin-top: 12px;
}

.square18 {
    height: 19px;
    width: 40px;
    background-color: #086b69;
    float: right;
    display: inline;
    margin-right: 270px;
    margin-top: -19px;
}
